<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.young.dao.RoomTypeMapper">
    <!--分页查询所有房型-->
    <select id="findAllRoomTypeByPage"  resultType="com.young.domain.RoomType">
        select * from t_room_type
        <where>
            <if test="typeName != null and typeName != '' ">
                and typeName like concat('%',#{typeName},'%')
            </if>
        </where>
    </select>

    <!--添加房型-->
    <insert id="addRoomType" parameterType="com.young.domain.RoomType">
        insert into t_room_type (typename,status,remark,price,livenum,bednum,roomnum,
                                 photo,reservednum,avilablenum,livednum)
        values(#{typeName},#{status},#{remark},#{price},#{livenum},#{bednum},#{roomnum},
                                #{photo},#{reservednum},#{avilablenum},#{livednum})
    </insert>

    <!--修改房型-->
    <update id="updateRoomType" parameterType="com.young.domain.RoomType">
        update t_room_type
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="typeName != null and typeName != '' ">
                typeName = #{typeName},
            </if>
            <if test="photo != null and photo != '' ">
                photo = #{photo},
            </if>
            <if test="remark != null and remark != '' ">
                remark = #{remark},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="livenum != null">
                livenum = #{livenum},
            </if>
            <if test="bednum != null">
                bednum = #{bednum},
            </if>
            <if test="roomnum!=null">
                roomnum = #{roomnum},
            </if>
            <if test="reservednum!=null">
                reservednum = #{reservednum},
            </if>
            <if test="avilablenum!=null">
                avilablenum = #{avilablenum},
            </if>
            <if test="livednum!=null">
                livednum = #{livednum},
            </if>
        </set>
            where id = #{id}
    </update>

    <!--空参查询所有房型-->
    <select id="findAll" resultType="com.young.domain.RoomType">
        select * from t_room_type
    </select>

    <!--删除房型-->
    <delete id="deleteRoomType" parameterType="int">
        delete from t_room_type where id = #{id}
    </delete>

    <!--根据id查询房型-->
    <select id="findById" parameterType="int" resultType="com.young.domain.RoomType">
        select * from t_room_type where id = #{id}
    </select>

</mapper>
